{% extends site_details.template %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'redactor/css/redactor.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/editable/be.css' %}">
    <style>
        .s-title {
            margin: 5px 0;
        }

        .panel-title {
            line-height: 1.5em;
        }
        
        .btn-middle {
            margin: 0 5px;
        }

        .accordion-toggle {
            width: calc(100% - 160px);
            display: inline-block;
        }

        .q-edits {
            display: inline-block;
        }

        .accordion .panel .panel-title .accordion-toggle {
            display: inline-block;
        }

    </style>
{% endblock css %}

{% block page_title %}
    <div class="page-title">
        <h1>{{ t_name }}
            <small>creation &amp; editing</small>
        </h1>
    </div>
    <div class="page-toolbar">
        <a href="{% url 'all-templates' %}" class="btn btn-long btn-primary pull-right"><i
                class="fa fa-chevron-left"></i>&nbsp;&nbsp;Back</a>
    </div>

{% endblock page_title %}


{% block main_content %}
    {% include "messages.html" %}
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="row">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-8">
                                <h4>New Parent Sections</h4>
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-3">
                                            <input type="number" name="order" class="form-control" placeholder="Order">
                                        </div>
                                        <div class="col-md-9">
                                            <div class="input-group">
                                                <input type="text" class="form-control" name="psection"
                                                placeholder="Enter Parent Section" required>
                                                <span class="input-group-btn">
                                                    <button class="btn btn-primary" type="submit"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add
                                                    </button>
                                                </span>
                                            </div>
                                            <!-- /input-group -->
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            {% for s in psections %}
                            <div class="col-md-3 margin-top-20 text-center">
                                <h4>
                                    <i class="fa fa-list fa-2x"></i></br>
                                    <a href="#" class="psection" data-pk="{{ s.id }}" data-name="name"
                                    data-url="#"
                                    data-title="Edit Parent Section Name">{{ s.name }}</a></br>
                                </h4>
                                <h4 class="margin-top-20">
                                    Order : <a href="#" data-type="number" class="psection" data-pk="{{ s.id }}"
                                    data-name="order" data-url="#"
                                    data-title="Edit Order">{{ s.order }}</a>
                                </h4>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-5">
                        <h4>Version Control</h4>
                        <div class="row">
                            <div class="col-md-12">
                                <p>Templates published will not be editable and you'll need to create a new version.</p>
                                <select name="" id="vSel" class="form-control">
                                    {% for v in versions  %}
                                    <option value="{{ v.order }}" {% if v.order == cversion.order %}selected{% endif %}>{{ v }}</option>    
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row margin-top-20">
                            <div class="col-md-12">
                                <button class="btn btn-long btn-primary vBtn" data-id="{{ t_id }}" data-type="new"><i class="fa fa-plus"></i>&nbsp;&nbsp;New Version</button>&nbsp;&nbsp;
                                {% if not cver.locked %}
                                <button class="btn btn-long btn-primary vBtn" data-type="publish" data-id="{{ t_id }}"><i class="fa fa-lock"></i>&nbsp;&nbsp;Publish</button>     
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-app="temp-creation">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            {% verbatim %}
            <div class="row">
                <div class="col-md-12">
                    <div ng-controller="AppController">
                        <div class="tabbable tabs-left">
                            <ul class="nav nav-pills portlet light" data-tabs="tabs">
                                <li class="unsortable .">
                                    <a href ng-click="!vpub||addSectionTab()" ng-class="{disabled:!vpub}">
                                        <i class="fa fa-plus"></i>New Sub Section
                                    </a>
                                </li>
                                <ul my-sortable="sections" id="sortable_sections" model="sections"
                                    class="nav nav-pills nav-stacked">
                                    <li ng-class="{active: section.active}"
                                        ng-click="activateSection(section)"
                                        ng-repeat="section in sections | orderBy:['order']">
                                        <a href="#tab-{{section.id}}" data-toggle="tab">{{
                                            section.name }}</a>
                                    </li>
                                </ul>
                            </ul>
                            <div class="tab-content">
                                <div class="item tab-pane" ng-class="{active: section.active}" id="tab-{{section.id}}"
                                     ng-repeat="section in sections">
                                    <div ng-if="section.id == activeSection">
                                        <div class="portlet light">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <form ng-show="editorEnabled" ng-submit="updateSection(section)">
                                                        <div class="row">
                                                            <div class="col-md-8">
                                                                <div id="div_id_name" class="form-group">
                                                                    <label for="id_name"
                                                                           class="control-label requiredField">
                                                                        Section Name<span class="asteriskField">*</span>
                                                                    </label>

                                                                    <div class="controls ">
                                                                        <input class="textinput textInput form-control"
                                                                               ng-model="section.name" id="id_name"
                                                                               maxlength="80" name="name" type="text">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div id="div_id_description" class="form-group">
                                                            <label for="id_description" class="control-label ">
                                                                Description
                                                            </label>

                                                            <div class="controls ">
                                                            <textarea class="textarea form-control"
                                                                      ng-model="section.description" cols="40"
                                                                      id="id_description" name="description" rows="10"
                                                                      redactor></textarea>
                                                            </div>
                                                        </div>

                                                        <input type="hidden" name="section_id" value="{{ section.id }}">

                                                        <div>
                                                            <button class="btn btn-danger btn-long pull-right"
                                                                    ng-click="editorEnabled=!editorEnabled"><i
                                                                    class="fa fa-times"></i>&nbsp;&nbsp;Cancel
                                                            </button>
                                                            <button class="btn btn-primary btn-long"
                                                                    ng-click="editorEnabled=!editorEnabled">Save
                                                            </button>
                                                        </div>
                                                    </form>
                                                    <div ng-hide="editorEnabled">
                                                        <div class="row">
                                                            <div class="col-md-10">
                                                                <h3 class="s-title"><strong>Section{{ section.order
                                                                    }}</strong> - {{ section.name }}</h3>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <button class="btn btn-primary pull-right"
                                                                        ng-click="editorEnabled=!editorEnabled"><i
                                                                        class="fa fa-pencil"></i></button>
                                                            </div>
                                                        </div>
                                                        <div class="row margin-top-20">
                                                            <div class="col-md-12">
                                                                <p ng-bind-html="section.description"></p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <button class="btn btn-long btn-primary"
                                                                        ng-click="!vpub||launch('Question', question, 'create', section.id)" ng-class="{disabled:!vpub}">
                                                                    <i class="fa fa-plus"></i>&nbsp;&nbsp;Add Question
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div my-sortable="questions" sec="{{section.id}}" model="questions[section.id]">
                                            <div class="panel-group accordion"
                                                 ng-repeat="question in questions[section.id] track by question.id | orderBy:'order'">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title" style="min-height:2em;">
                                                            <a class="accordion-toggle accordion-toggle-styled collapsed"
                                                               data-toggle="collapse" 
                                                               data-parent="#accordion3"
                                                               href="#quest-{{ question.id }}">
                                                               <strong>Q{{$index + 1}}</strong> : 
                                                               {{ question.q_name|limitTo:180 }} 
                                                               {{ question.q_name.length > 180 ? '...' : ''}}
                                                                <br ng-show="question.q_name.length <= 80">
                                                                <br ng-show="question.q_name.length <= 80">
                                                                <br ng-show="question.q_name.length >= 90">
                                                            </a>


                                                            <div class="q-edits">
                                                                <button class="btn btn-danger pull-right"
                                                                        ng-click="!vpub||qdelete(question)" ng-class="{disabled:!vpub}"><i
                                                                        class="fa fa-times"></i></button>
                                                                <button class="btn btn-warning btn-middle pull-right" ng-class="{disabled:!vpub}"
                                                                        ng-click="!vpub||launch('Question', question, 'clone', section.id)">
                                                                    <i class="fa fa-copy"></i></button>
                                                                <button class="btn btn-primary pull-right" ng-class="{disabled:!vpub}"
                                                                        ng-click="launch('Question', question, 'edit', section.id)">
                                                                    <i class="fa fa-pencil"></i></button>

                                                            </div>
                                                        </h4>
                                                    </div>
                                                    <div id="quest-{{ question.id }}" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            <p ng-bind-html="question.content"></p>

                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <p><strong>Action Plan Task</strong></br>{{
                                                                        question.action_plan }}</p>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <p><strong>Dashboard Name</strong></br>
                                                                        {{ question.d_name }}</p>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <p><strong>Weightage</strong></br>
                                                                        {{ question.weightage }}</p>
                                                                </div>
                                                            </div>
                                                            <hr>
                                                            <div class="row">
                                                                <div class="col-md-3"
                                                                     ng-repeat="answer in answers[question.id]">
                                                                    <p ng-switch="answer.value">
                                                                        <i ng-switch-when="1" class='fa fa-circle tgreen'></i>
                                                                        <i ng-switch-when="0" class='fa fa-circle tred'></i>
                                                                        <i ng-switch-when="x" class='fa fa-circle torange'></i>
                                                                        <i ng-switch-when="NA" class='fa fa-circle tgrey'></i>
                                                                        &nbsp;&nbsp;{{ answer.label }}
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endverbatim %}
            </div>
        </div>
    </div>
    </div>
{% endblock main_content %}

{% block js %}
    <script src="{% static 'js/angular/underscore.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/angular/angular.min.js' %}"></script>
    <script src="{% static 'js/angular/angular-resource.js' %}"></script>
    <script src="{% static 'js/angular/angular-ui.min.js' %}"></script>
    <script src="{% static 'redactor/redactor.min.js' %}"></script>
    <script src="{% static 'redactor/video.js' %}"></script>
    <script src="{% static 'redactor/table.js' %}"></script>
    <script src="{% static 'js/angular/angular-redactor.js' %}"></script>
    <script src="{% static 'js/angular/angular-sanitize.js' %}"></script>
    <script src="{% static 'js/angular/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/angular/angular-sortable.js' %}"></script>
    <script src="{% static 'js/angular/dialogs.min.js' %}"></script>
    <script>
    $(document).ready(function(){
        $('#vSel').on('change', function(){
            var id = $(this).val();
            $.ajax({
                url: "{% url 'ajax-versions' %}",
                type: "POST",
                data: "&temp={{ t_id }}&vid=" + id ,
                success: function(){
                    location.reload();
                },
                
            });
        });

        $('.vBtn').on('click', function(){
            var type = $(this).data('type');
            var id = $(this).data('id');
            $.ajax({
                url: "{% url 'ajax-versions' %}",
                type: "POST",
                data: "&temp={{ t_id }}&type=" + type + "&id=" + id,
                success: function(){
                    location.reload();
                },
            });
        });
    });

    </script>

    <script>
        var app = angular.module('temp-creation', ['ngResource', 'ui.sortable', 'angular-redactor', 'ngSanitize', 'ui.bootstrap', 'dialogs']);

        app.config(['$httpProvider', function ($httpProvider) {
            $httpProvider.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token|escapejs }}';
        }]);

        app.config(function (redactorOptions) {
            redactorOptions.buttonSource = true;
            redactorOptions.focus = true;
            redactorOptions.replaceDivs = false;
            redactorOptions.plugins = ['video', 'table'];
        });

        app.factory('Template', [
            '$resource', function ($resource) {
                return $resource('/api/templates/temp/:id/', {
                    id: '@id'
                });
            }
        ]);

        app.factory('Section', [
            '$resource', function ($resource) {
                return $resource('/api/templates/sect/:id/', {
                    id: '@id'
                }, {
                    update: {
                        method: 'PUT',
                        params: {id: '@id'}
                    }
                });
            }
        ]);


        app.factory('TemplateSection', [
            '$resource', function ($resource) {
                return $resource('/api/templates/temp/:temp_id/sects/:id/?version={{ cversion.order }}', {
                    temp_id: '@temp_id',
                    id: '@id'
                }, {
                    update: {
                        method: 'PUT',
                        params: {
                            temp_id: '@template',
                            id: '@id'
                        }
                    }
                });
            }
        ]);

        app.factory('SectionQuestion', [
            '$resource', function ($resource) {
                return $resource('/api/templates/sect/:sect_id/quests/:id/?version={{ cversion.order }}', {
                    sect_id: '@sect_id',
                    id: '@id'
                }, {
                    update: {
                        method: 'PUT',
                        params: {
                            sect_id: '@section',
                            id: '@id'
                        }
                    }
                });
            }
        ]);


        app.factory('Question', [
            '$resource', function ($resource) {
                return $resource('/api/templates/quest/:id/', {
                    id: '@id'
                }, {
                    update: {
                        method: 'PUT',
                        params: {
                            id: '@id'
                        }
                    }
                });
            }
        ]);

        app.factory('Answer', [
            '$resource', function ($resource) {
                return $resource('/api/templates/ans/:id/', {
                    id: '@id'
                }, {
                    update: {
                        method: 'PUT',
                        params: {
                            id: '@id'
                        }
                    }
                });
            }
        ]);

        app.factory('QuestionAnswer', [
            '$resource', function ($resource) {
                return $resource('/api/templates/quest/:quest_id/ans/:id/?version={{ cversion.order }}');
            }
        ]);


        app.factory('Dataservice', function () {
            return {};
        });

        app.controller('AppController', ['$scope', '$filter',
            'Template',
            'TemplateSection',
            'Section',
            'SectionQuestion',
            'Question',
            'QuestionAnswer',
            '$q',
            '$dialogs',
            'Dataservice',
            function ($scope, $filter,
                      Template,
                      TemplateSection,
                      Section,
                      SectionQuestion,
                      Question,
                      QuestionAnswer,
                      $q,
                      $dialogs,
                      Dataservice) {

                var template_id = {{ t_id }};
                $scope.template = Template.get({id: template_id});
                var sectionDeferred = $q.defer();
                $scope.sections = [];
                $scope.questionsPromises = [];
                $scope.answersPromises = [];

                {% if cversion.locked %}
                $scope.vpub = false;
                {% else %}
                $scope.vpub = true;
                {% endif %}
                

                TemplateSection.query({temp_id: {{ t_id }}}).reverse().$promise.then(function (sData) {
                    //$scope.sections = $.parseJSON(angular.toJson(sData));
                    var keys = [];
                    angular.forEach(sData, function (section) {
                        section.active = section.order == 1;
                        if (section.active) {
                            $scope.activeSection = section.id;
                        }

                        $scope.sections.push(section);
                        $scope.activateSection(section);
                        $scope.questionsPromises.push(SectionQuestion.query({sect_id: section.id}).$promise);
                        keys.push(section.id);
                    });
                    $scope.sections.sort(function (a, b) {
                        return a.order - b.order;
                    });
                    Dataservice.sections = $scope.sections;
                    sectionDeferred.resolve({promises: $scope.questionsPromises, keys: keys});
                });

                $scope.questions = {};
                $scope.answers = {};

                sectionDeferred.promise.then(function (data) {
                    $q.all(data.promises).then(
                            function (qData) {
                                angular.forEach(qData, function (questions, index) {
                                    questions.sort(function (a, b) {
                                        return a.order - b.order;
                                    });
                                    $scope.questions[data.keys[index]] = questions;
                                    angular.forEach(questions, function (ques, index) {
                                        $scope.answers[ques.id] = QuestionAnswer.query({quest_id: ques.id});
                                    });
                                    Dataservice.questions = $scope.questions;
                                    Dataservice.answers = $scope.answers;
                                });
                            }
                    );
                });

                $scope.newSection = new Section();

                $scope.updateSection = function (section) {
                    Section.update({id: section.id}, section);
                };

                $scope.updateQuestion = function (question) {
                    //$scope.section = Section.get({id:section.id});
                    Question.update(question);
                };

                var setAllInactive = function () {
                    angular.forEach($scope.sections, function (section) {
                        section.active = false;
                    });
                };

                $scope.addSectionTab = function () {
                    setAllInactive();
                    var order = $scope.sections.length + 1;
                    $scope.newSection.name = "New Section"
                    $scope.newSection.description = "Please Fill in here..."
                    $scope.newSection.order = order
                    $scope.newSection.template = $scope.template.id
                    $scope.newSection.$save().then(function (sect) {
                        $scope.newSection.active = true;
                        $scope.sections.push(sect);
                        $scope.questions[sect.id] = [];
                        $scope.newSection = new Section();
                        try {
                            Dataservice.questions[sect.id] = []
                        } catch (e) {
                            window.location.reload();
                        }

                    });
                };

                $scope.$on('sections-sorted', function (ev, val) {
                    $scope.sections.splice(val.to, 0, $scope.sections.splice(val.from, 1)[0]);
                    angular.forEach($scope.sections, function (item, index) {
                        item.order = index + 1;
                        Section.update(item);
                        //item.$update();
                    });
                });
                $scope.$on('questions-sorted', function (ev, val) {
                    $scope.questions[val.sec].splice(val.to, 0, $scope.questions[val.sec].splice(val.from, 1)[0]);
                    angular.forEach($scope.questions[val.sec], function (item, index) {
                        item.order = index + 1;
                        Question.update(item);
                        //item.$update();
                    });
                });
                $scope.launch = function (which, ques, mode, sid) {
                    var dlg = null, url;
                    var data = {
                        question: ques,
                        mode: mode,
                        sid: sid,
                    }
                    url = "{% static 'templates/question_modal.html' %}"
                    dlg = $dialogs.create(url, which + 'Controller', data, {key: false, back: 'static'});
                    dlg.result.then(function (name) {
                    }, function () {
                        //cancel
                    });
                }

                $scope.qdelete = function (ques) {
                    var todel = confirm("Are you sure?");
                    if (todel) {
                        var section = ques.section, order = ques.order;
                        Question.delete(ques).$promise.then(function (q) {
                            //Dataservice.questions[section].splice(order-1, 1);
                            delFromObjArray(Dataservice.questions[section], ques.id)
                        })
                    }

                    function delFromObjArray(objArray, id) {
                        var index;
                        for (var i = 0; i < objArray.length; i++) {
                            if (objArray[i].hasOwnProperty('id') && objArray[i].id === id) {
                                index = i;
                                break;
                            }
                        }

                        if (index !== undefined) {
                            objArray.splice(index, 1);
                        }
                    }

                };

                $scope.activateSection = function (section) {
                    angular.forEach($scope.sections, function (q) {
                        var status = false;

                        if (q.id == section.id) {
                            status = true;
                        }

                        if (q.active != status) {
                            q.active = status;
                        }
                    });

                    $scope.activeSection = section.id;
                };
            }]);

        app.controller('QuestionController', ['$scope', '$modalInstance', 'data', 'Question', 'Answer', 'Dataservice', function ($scope, $modalInstance, data, Question, Answer, Dataservice) {
            var order = Dataservice.questions[data.sid].length + 1;

            $scope.boolToStr = function (arg) {
                return arg ? 'Top' : 'Bottom'
            };
            //$scope.question = new Question();
            //$scope.question.answers = Dataservice.answers[data.id];

            {% if cver.locked %}
                $scope.vpub = false;
            {% else %}
                $scope.vpub = true;
            {% endif %}


            $scope.save = function () {
                if (data.mode == 'create') {
                    
                    Question.save($scope.question).then(function (question) {
                        Dataservice.questions[question.section].push(question);
                        angular.forEach($scope.answers, function (item) {
                            $scope.answer = new Answer();
                            $scope.answer.question = question.id;
                            $scope.answer.order = item.order;
                            $scope.answer.value = item.value;
                            $scope.answer.label = item.label;
                            Dataservice.answers[question.id] = [];
                            $scope.answer.$save(function (ans) {
                                Dataservice.answers[ans.question].push(ans);
                            });
                        });
                        $modalInstance.close($scope.question);
                    });
                }
                else if (data.mode == 'edit') {
                    Question.update($scope.question, function (question) {
                        var index;
                        var id = question.id
                        for (var i = 0; i < Dataservice.questions[question.section].length; i++) {
                            var arr = Dataservice.questions[question.section]
                            if (arr[i].hasOwnProperty('id') && arr[i].id === id) {
                                index = i;
                                break;
                            }
                        }

                        if (index !== undefined) {
                            Dataservice.questions[question.section][index] = question
                        }

                        //Dataservice.questions[question.section][question.order - 1] = question;
                        angular.forEach($scope.answers, function (item) {
                            Answer.update(item);
                        });
                        $modalInstance.close($scope.question);
                    });
                    
                }
                else if (data.mode == 'clone') {
                    Question.save($scope.question).$promise.then(function (question) {
                        Dataservice.questions[question.section].push(question);
                        angular.forEach($scope.answers, function (item) {
                            $scope.answer = new Answer();
                            $scope.answer.question = question.id;
                            $scope.answer.order = item.order;
                            $scope.answer.value = item.value;
                            $scope.answer.label = item.label;
                            Dataservice.answers[question.id] = [];
                            $scope.answer.$save(function (ans) {
                                Dataservice.answers[ans.question].push(ans);
                            });
                        });
                        $modalInstance.close($scope.question);
                    });
                }
                
            }; // end save

            if (data.mode == 'create') {
                $scope.question = new Question();
                $scope.question.section = data.sid;
                $scope.question.order = order;
                $scope.answers = [{'label': 'Yes', 'order': '1', 'value': '1', id: 1},
                    {'label': 'No', 'order': '2', 'value': '0', id: 2},
                    {'label': "I Don't Know", 'order': '3', 'value': 'x', id: 3},
                    {'label': 'Not Applicable', 'order': '4', 'value': 'NA', id: 4}]
            }
            else if (data.mode == 'edit') {
                $scope.question = data.question;
                $scope.answers = Dataservice.answers[data.question.id];
            }
            else if (data.mode == 'clone') {
                $scope.question = data.question;
                $scope.answers = angular.copy(Dataservice.answers[data.question.id]);   // need to deep copy it in order to avoid parent deletion
                $scope.question.id = null;
                $scope.question.order = order;
            }

            $scope.addAnswer = function () {
                var toadd = confirm('Add new answer?');

                if (toadd) {
                    var ans = new Answer();
                    ans.question = $scope.question.id;
                    ans.label = 'Input your label here...';
                    ans.order = 1;
                    ans.value = 'NA';

                    if (data.mode === 'clone' || data.mode === 'create') {
                        $scope.answers.push(ans);
                    } else if (data.mode === 'edit') {
                        ans.$save(function (answer) {
                            Dataservice.answers[ans.question].push(answer);
                        });
                    }
                }
            }

            $scope.delAnswer = function (ans) {
                
                var todel = confirm('Are you sure?');

                if (todel) {
                    var question = ans.question, order = ans.order;

                    if (data.mode === 'clone' || data.mode === 'create') {
                        console.log(ans);
                        if (ans.hasOwnProperty('id')) {
                            console.log('simple delete');
                            delFromObjArray($scope.answers, ans.id);
                        } else {
                            // only for not saved quetions
                            delFromObjArray($scope.answers, ans.$$hashKey, '$$hashKey');
                        }


                    } else if (data.mode === 'edit') {
                        // delete from server DB
                        Answer.delete(ans).$promise.then(function (a) {
                            //Dataservice.answers[question].splice(order-1, 1);
                            delFromObjArray($scope.answers, ans.id);
                        })
                    }
                }

                function delFromObjArray(objArray, id, keyName) {
                    var index;
                    var key = keyName || 'id';
                    for (var i = 0; i < objArray.length; i++) {
                        if (objArray[i].hasOwnProperty(key) && objArray[i][key] === id) {
                            index = i;
                            break;
                        }
                    }

                    if (index !== undefined) {
                        objArray.splice(index, 1);
                    }
                }
            }

            $scope.cancel = function () {
                $modalInstance.dismiss('canceled');
            }; // end cancel
        }]);

        app.controller('AnswerController', ['$scope', '$modalInstance', 'data', 'QuestionAnswer', 'Dataservice', function ($scope, $modalInstance, data, QuestionAnswer, Dataservice) {
            $scope.question = data;
            {% if cver.locked %}
                $scope.vpub = false;
            {% else %}
                $scope.vpub = true;
            {% endif %}

            $scope.answer = new QuestionAnswer();
            $scope.cancel = function () {
                $modalInstance.dismiss('canceled');
            }; // end cancel

            $scope.save = function () {
                $modalInstance.close($scope.answer);
            }; // end save
        }]);


        app.directive('mySortable', function (Section) {
            return {
                scope: {
                    model: '='
                },
                link: function (scope, el, attrs) {
                    el.sortable({
                        revert: true
                    });
                    scope.type = attrs["mySortable"];
                    scope.sec = attrs["sec"];
                    el.disableSelection();

                    el.on("sortdeactivate", function (event, ui) {
                        var from = angular.element(ui.item).scope().$index;
                        var to = el.children().index(ui.item);
                        if (to >= 0) {
                            scope.$apply(function () {
                                if (from >= 0) {
                                    scope.$emit(scope.type + '-sorted', {from: from, to: to, sec: scope.sec});
                                }
                            })
                        }
                    });
                }
            }
        });
    </script>
{% endblock js %}