<div class="modal-header">

    <button type="button" class="close" ng-click="cancel()"></button>

    <h4 class="modal-title">Add / Edit Question</h4>

</div>

<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <ng-form name="nameDialog" role="form" ng-submit="updateQuestion(question)">

            <input type="hidden" ng-model="question.section.id">
            <div class="row">

                <div class="form-group col-md-12" ng-class="{true: 'has-error'}[nameDialog.q_name.$dirty && nameDialog.q_name.$invalid]">
                    <label class="control-label" for="name">Question Name*</label>
                    <textarea type="text" class="form-control" ng-model="question.q_name" ng-keyup="hitEnter($event)"></textarea>
                </div>

                <div class="form-group col-md-12" ng-class="{true: 'has-error'}[nameDialog.description.$dirty && nameDialog.description.$invalid]">

                    <label class="control-label" for="username">Description</label>

                    <input type="text" class="form-control" ng-model="question.description" ng-keyup="hitEnter($event)">

                </div>

                <div class="form-group col-md-12" ng-class="{true: 'has-error'}[nameDialog.username.$dirty && nameDialog.username.$invalid]">

                    <label class="control-label" for="username">Content</label>

                    <textarea type="text" class="form-control" ng-model="question.content" ng-keyup="hitEnter($event)" redactor></textarea>

                </div>

            </div>

            <div class="row">

                <div class="form-group col-md-6" ng-class="{true: 'has-error'}[nameDialog.d_name.$dirty && nameDialog.d_name.$invalid]">

                    <label class="control-label" for="username">Dashboard Name*</label>

                    <input type="text" class="form-control" ng-model="question.d_name" ng-keyup="hitEnter($event)" required>

                </div>

                <div class="form-group col-md-6" ng-class="{true: 'has-error'}[nameDialog.action_plan.$dirty && nameDialog.action_plan.$invalid]">

                    <label class="control-label" for="username">Action Plan*</label>

                    <input type="text" class="form-control" ng-model="question.action_plan" ng-keyup="hitEnter($event)" required>

                </div>

            </div>

            <div class="row">

                <div class="form-group col-md-3" ng-class="{true: 'has-error'}[nameDialog.content_align.$dirty && nameDialog.content_align.$invalid]">

                    <label class="control-label" for="username">Content Alignment</label>

                    <select class="form-control" ng-model="question.content_align" ng-options="boolToStr(item) for item in [true, false]">

                    </select>

                </div>

                <div class="form-group col-md-3" ng-class="{true: 'has-error'}[nameDialog.weightage.$dirty && nameDialog.weightage.$invalid]">

                    <label class="control-label" for="username">Weightage*</label>

                    <input type="text" class="form-control" ng-model="question.weightage" ng-keyup="hitEnter($event)" required>

                </div>

                <div class="form-group col-md-2" ng-class="{true: 'has-error'}[nameDialog.use_dashboard.$dirty && nameDialog.use_dashboard.$invalid]">

                    <label class="control-label" for="username">Use Dashboard</label>

                    <input type="checkbox" class="form-control" ng-model="question.use_dashboard">

                </div>

                <div class="form-group col-md-2" ng-class="{true: 'has-error'}[nameDialog.use_remarks.$dirty && nameDialog.use_remarks.$invalid]">

                    <label class="control-label" for="username">Use Remarks</label>

                    <input type="checkbox" class="form-control" ng-model="question.use_remarks">

                </div>
                


            </div>
            <div class="row">
                <div class="form-group col-md-3" ng-class="{true: 'has-error'}[nameDialog.tlabel.$dirty && nameDialog.table.$invalid]">

                    <label class="control-label" for="username">Text Label</label>

                    <input type="text" class="form-control" ng-model="question.tlabel" ng-keyup="hitEnter($event)" required>

                </div>

                <div class="form-group col-md-2" ng-class="{true: 'has-error'}[nameDialog.ttype.$dirty && nameDialog.ttype.$invalid]">

                    <label class="control-label" for="username">Use Text Input</label>

                    <input type="checkbox" class="form-control" ng-model="question.ttype">

                </div>

                
            </div>

            <div class="row">

                <div class="col-md-11"><h4 class="title-div"><span>Answers</span></h4></div>
                <div class="col-md-1">
                    <button class="btn btn-primary pull-right" style="margin-top:11px;" ng-class="{disabled:!vpub}" ng-click="!vpub||addAnswer()"><i class="fa fa-plus"></i></button>

                </div>
            </div>

            <div class="row">

                <div class="col-md-12" ng-repeat="a in answers">
                    <div class="row">
                        <div class="form-group col-md-5" ng-class="{true:'has-error'}[nameDialog.answers.$dirty && nameDialog.answers.$invalid]">

                        <label class="control-label" for="username">Label</label>

                        <input type="text" class="form-control" ng-model="a.label" ng-keyup="hitEnter($event)" required>

                        </div>

                        <div class="form-group col-md-5" ng-class="{true:'has-error'}[nameDialog.answers.$dirty && nameDialog.answers.$invalid]">

                        <label class="control-label" for="username">Value</label>

                        <select class="form-control" ng-model="a.value" ng-keyup="hitEnter($event)" required>
                            <option value="1" class="tgreen">Green</option>
                            <option value="0" class="tred">Red</option>
                            <option value="x" class="torange">Orange</option>
                            <option value="NA" class="tgrey">Grey</option>
                        </select>

                    </div>
                    <div class="col-md-2">
                    <button class="btn btn-danger pull-right" style="margin-top:26px;" ng-class="{disabled:!vpub}" ng-click="!vpub||delAnswer(a)"><i class="fa fa-times"></i></button>
                    </div>
                    </div>
                </div>

             </div>



        </div>
        <div class="col-md-12">
            <button type="button" class="btn btn-primary btn-long" ng-click="save()" ng-disabled='!nameDialog.$valid'>Save</button>
            <button type="button" class="btn btn-default btn-long" ng-click="cancel()" >Cancel</button>
            
        </div>
        </ng-form>

    </div>

</div>

</div>
