{# extends site_details.template #}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/79dad4fdc0.css">

    <style>
        body {
            background-color: #eff3f8;
            font-size: 1.25em;
        }
        .portlet {
            background-color: white;
            padding: 1.5em;
            margin-bottom: 3em;
            border: solid thin lightgrey;
            box-shadow: 0 4px 8px 0 grey;
        }
        .margin-top-20 {
            margin-top: 1em;
        }

        .s-title {
            margin: 5px 0;
        }

        .panel-title {
            line-height: 1.5em;
        }

        .btn-middle {
            margin: 0 5px;
        }

        .accordion-toggle {
            width: calc(100% - 160px);
            display: inline-block;
        }

        .q-edits {
            display: inline-block;
        }

        .accordion .panel .panel-title .accordion-toggle {
            display: inline-block;
        }

    </style>
{% endblock css %}


{% block page_title %}
<div class='container' style='margin-bottom: 1em;'>
    <div class="page-title pull-left">
        <h1>{{ t_name }}
            <small>creation &amp; editing</small>
        </h1>
    </div>

    <div class="page-toolbar pull-right" style='padding-top: 2em'>
        <a href="{% url 'all-templates' %}" class="btn btn-long btn-primary pull-right">
            <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;Back
        </a>
    </div>
</div>
{% endblock page_title %}


{% block main_content %}

    {% include "messages.html" %}

    <div id='app' class='container'>

    <straits-new-parent-sections>
    </straits-new-parent-sections>


    <straits-sections
        :sections='sections'
        ref='straitsSectionsComponent'
    >
    </straits-sections>

    <question-modal
        id = 'modal-question'
        :section      = 'section'
        :question     = 'question'
        :question-idx = 'questionIdx'
    ></question-modal>

    </div>

{% endblock main_content %}


{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>'use strict';
axios.defaults.xsrfCookieName  = 'csrftoken';
axios.defaults.xsrfHeaderName  = 'X-CSRFTOKEN';
axios.defaults.withCredentials = true;

Vue.filter( 'limitTo', function( val, limit ){
  return ( val || '').substr( 0, limit );
});

// {% include 'question-modal/index.js' %}
// {% include 'edit_template/straits-new-parent-sections.js' %}
// {% include 'edit_template/straits-section-question.js' %}
// {% include 'edit_template/straits-sections.js' %}
// {% include 'edit_template/index.js' %}
</script>
{% endblock js %}
