{% verbatim %}
<div class="panel panel-default">

    <div class="panel-heading">
        <h4 class="panel-title" style="min-height:2em;">
            <a class="accordion-toggle accordion-toggle-styled collapsed"
                data-toggle="collapse"
                data-parent="#accordion3"
                :href="'#quest-' + question.id"
            >
                <strong>Q{{index + 1}}</strong> :
                {{ ( question.q_name || '' )|limitTo( 180 ) }}
                {{ ( question.q_name || '' ).length > 180 ? '...' : ''}}
                <br v-show="( question.q_name || '' ).length <= 80">
                <br v-show="( question.q_name || '' ).length <= 80">
                <br v-show="( question.q_name || '' ).length >= 90">
            </a>


            <div class="q-edits">

                <button
                    class="btn btn-danger pull-right"
                    :class="{disabled:!vpub}"
                    @click="!vpub||deleteQuestion()"
                    title='Delete'
                >
                    <i class="fa fa-times"></i>
                </button>

                <button
                    class="btn btn-warning btn-middle pull-right"
                    :class="{disabled:!vpub}"
                    @click="!vpub||editQuestion( question, true )"
                    title='Clone'
                >
                    <i class="fa fa-copy"></i>
                </button>

                <button
                    class="btn btn-primary pull-right"
                    :class="{disabled:!vpub}"
                    @click="editQuestion( question )"
                    title='Edit'
                >
                    <i class="fa fa-pencil"></i>
                </button>

            </div>
        </h4>
    </div> <!-- class="panel-heading" -->

    <div :id="'quest-' + question.id" class="panel-collapse collapse">
        <div class="panel-body">
            <p v-html="question.content"></p>

            <div class="row">
                <div class="col-md-4">
                    <p>
                        <strong>Action Plan Task</strong></br>
                        {{question.action_plan }}
                    </p>
                </div>
                <div class="col-md-4">
                    <p>
                        <strong>Dashboard Name</strong></br>
                        {{ question.d_name }}
                    </p>
                </div>
                <div class="col-md-4">
                    <p>
                        <strong>Weightage</strong></br>
                        {{ question.weightage }}
                    </p>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-md-3" v-for="answer in question.answers">
                   <i class='fa fa-circle' :style='{color: getColor( answer.value )}'></i>
                   &nbsp;&nbsp;{{ answer.label }}
                </div>
            </div>
        </div>
    </div> <!-- class="panel-collapse -->

</div> <!-- class="panel" -->
{% endverbatim %}
