<div class="row" ng-app="temp-creation">
    <div class="col-md-12">

        {% verbatim %}
        <div class="row">
            <div class="col-sm-3">
                <ul class="nav nav-pills nav-stacked portlet light" data-tabs="tabs">

                    <li class="unsortable .">
                        <a href='#' @click="!vpub||addSectionTab()" :class="{disabled:!vpub}">
                            <i class="fa fa-plus"></i> New Sub Section
                        </a>
                    </li>

                    <li :class="{active: section.active}"
                        @click="activateSection(section)"
                        v-for="section in sections"
                    >
                        <a :href="'#tab-' + section.id" data-toggle="tab">
                            {{section.name}}
                        </a>
                    </li>

                </ul>
            </div>

            <div class="col-sm-9">
                <div class="tab-content">
                    <div
                        class="item tab-pane"
                        :class="{active: section.active}"
                        :id="'tab-' + section.id"
                        v-for="section in sections"
                    >
                        <div v-if="section.id == activeSection">
                            <div class="portlet light">
                                <div class="row">
                                    <div class="col-md-12">

                                        <form
                                            v-show="editorEnabled"
                                            @submit="updateSection(section)"
                                        >
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <div id="div_id_name" class="form-group">
                                                        <label for="id_name" class="control-label requiredField">
                                                            Section Name<span class="asteriskField">*</span>
                                                        </label>

                                                        <div class="controls ">
                                                            <input class="textinput textInput form-control"
                                                                v-model="section.name" id="id_name"
                                                                maxlength="80" name="name" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div id="div_id_description" class="form-group">
                                                <label for="id_description" class="control-label ">
                                                    Description
                                                </label>

                                                <div class="controls ">
                                                    <textarea class="textarea form-control"
                                                            v-model="section.description"
                                                            cols="40" rows="10"
                                                            id="id_description" name="description"
                                                            redactor
                                                    ></textarea>
                                                </div>
                                            </div>

                                            <input type="hidden" name="section_id" :value="section.id">

                                            <div>
                                                <button
                                                    class="btn btn-danger btn-long pull-right"
                                                    @click="editorEnabled=!editorEnabled"
                                                >
                                                    <i class="fa fa-times"></i>&nbsp;&nbsp;Cancel
                                                </button>
                                                <button
                                                    class="btn btn-primary btn-long"
                                                    @click="editorEnabled=!editorEnabled">Save
                                                </button>
                                            </div>
                                        </form>

                                        <div ng-hide="editorEnabled">

                                            <div class="row">
                                                <div class="col-md-10">
                                                    <h3 class="s-title">
                                                        <strong>Section{{ section.order }}</strong> - {{ section.name }}
                                                    </h3>
                                                </div>
                                                <div class="col-md-2">
                                                    <button
                                                        class="btn btn-primary pull-right"
                                                        @click="editorEnabled=!editorEnabled"
                                                    >
                                                        <i class="fa fa-pencil"></i>
                                                    </button>
                                                </div>
                                            </div>

                                            <div class="row margin-top-20">
                                                <div class="col-md-12">
                                                    <p v-html="section.description"></p>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <button
                                                        class="btn btn-long btn-primary"
                                                        :class="{disabled:!vpub}"
                                                        @click="!vpub||newQuestion( section )"
                                                    >
                                                        <i class="fa fa-plus"></i>&nbsp;&nbsp;Add Question
                                                    </button>
                                                </div>
                                            </div>

                                        </div> <!-- ng-hide="editorEnabled" -->

                                    </div>
                                </div>
                            </div> <!-- class="portlet light" -->

                            <div my-sortable="questions" :sec="section.id" model="questions[section.id]">
                                <!-- track by question.id | orderBy:'order' -->
                                <div
                                    class="panel-group accordion"
                                    v-for="(question, index) in section.questions"
                                >
                                    <straits-section-question
                                        :question='question'
                                        :index='index'
                                        :section='section'
                                    ></straits-section-question>

                                </div> <!-- class="panel-group" -->
                            </div> <!-- my-sortable -->

                        </div> <!-- v-if="section.id == activeSection" -->

                    </div> <!-- class="tab-pane" -->
                </div> <!-- class="tab-content" -->
            </div>

            </div> <!-- col -->
        </div> <!-- row -->
        {% endverbatim %}

    </div>  <!-- col -->
</div>  <!-- row -->
