<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="row">


                <div class="col-md-7">

                    <div class="row">
                        <div class="col-md-8">
                            <h4>New Parent Sections</h4>
                            <form action="" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-3">
                                        <input type="number" name="order" class="form-control" placeholder="Order">
                                    </div>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="psection"
                                            placeholder="Enter Parent Section" required>
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary" type="submit"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add
                                                </button>
                                            </span>
                                        </div>
                                        <!-- /input-group -->
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="row">
                        {% for s in psections %}
                        <div class="col-md-3 margin-top-20 text-center">
                            <h4>
                                <i class="fa fa-list fa-2x"></i></br>
                                <a href="#" class="psection" data-pk="{{ s.id }}" data-name="name"
                                data-url="#"
                                data-title="Edit Parent Section Name">{{ s.name }}</a></br>
                            </h4>
                            <h4 class="margin-top-20">
                                Order : <a href="#" data-type="number" class="psection" data-pk="{{ s.id }}"
                                data-name="order" data-url="#"
                                data-title="Edit Order">{{ s.order }}</a>
                            </h4>
                        </div>
                        {% endfor %}
                    </div>

                </div>


                <div class="col-md-5">

                    <h4>Version Control</h4>
                    <div class="row">
                        <div class="col-md-12">
                            <p>Templates published will not be editable and you'll need to create a new version.</p>
                            <select
                                name=""
                                id="vSel"
                                class="form-control"
                                @change='vSelChange()'
                                v-model='version'
                            >
                                {% for v in versions  %}
                                <option value="{{ v.order }}" {% if v.order == cversion.order %}selected{% endif %}>{{ v }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="row margin-top-20">
                        <div class="col-md-12">
                            <button
                                class="btn btn-long btn-primary vBtn"
                                data-id="{{ t_id }}"
                                data-type="new"
                                @click='vBtnClick( "new", "{{ t_id }}" )'
                            >
                                <i class="fa fa-plus"></i>&nbsp;&nbsp;New Version
                            </button>

                            &nbsp;&nbsp;

                            {% if not cver.locked %}
                            <button
                                class="btn btn-long btn-primary vBtn"
                                data-type="publish"
                                data-id="{{ t_id }}"
                                @click='vBtnClick( "publish", "{{ t_id }}" )'
                            >
                                <i class="fa fa-lock"></i>&nbsp;&nbsp;Publish
                            </button>
                            {% endif %}
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>
