
<div :id='id' class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">

                <button type="button" class="close" @click="cancel()"></button>

                <h4 class="modal-title">Add / Edit Question</h4>

            </div>

            <div class="modal-body">
                <div class="row">
                    <form name="nameDialog" role="form" @submit.prevent="validate()">

                        <div class="col-md-12">

                            <input type="hidden" v-model="question.section">

                            <div class="row">

                                <div
                                    class="form-group col-md-12"
                                    :class="{ 'has-error': errors.q_name }"
                                >
                                    <label class="control-label" for="name">Question Name*</label>
                                    <textarea
                                        class="form-control"
                                        v-model.trim="question.q_name"
                                        @keyup="hitEnter($event)"
                                    ></textarea>
                                </div>

                                <div
                                    class="form-group col-md-12"
                                    :class="{ 'has-error': errors.description }"
                                >
                                    <label class="control-label">Description</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        v-model="question.description"
                                        @keyup="hitEnter($event)"
                                    >
                                </div>

                                <div
                                    class="form-group col-md-12"
                                    :class="{ 'has-error': errors.content }"
                                >
                                    <label class="control-label">Content</label>
                                    <textarea
                                        class="form-control"
                                        v-model="question.content"
                                        @keyup="hitEnter($event)"
                                        redactor
                                    ></textarea>
                                </div>

                            </div>

                            <div class="row">

                                <div
                                    class="form-group col-md-6"
                                    :class="{ 'has-error': errors.d_name }"
                                >
                                    <label class="control-label">Dashboard Name*</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        v-model.trim="question.d_name"
                                        @keyup="hitEnter($event)"
                                        required
                                    >
                                </div>

                                <div
                                    class="form-group col-md-6"
                                    :class="{ 'has-error': errors.action_plan }"
                                >
                                    <label class="control-label">Action Plan*</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        v-model.trim="question.action_plan"
                                        @keyup="hitEnter($event)"
                                        required
                                    >
                                </div>

                            </div>

                            <div class="row">

                                <div
                                    class="form-group col-md-3"
                                    :class="{ 'has-error': errors.content_align }"
                                >
                                    <label class="control-label">Content Alignment</label>
                                    <select
                                        class="form-control"
                                        v-model="question.content_align"
                                    >
                                        <option :value='true'>Top</option>
                                        <option :value='false'>Bottom</option>
                                    </select>
                                </div>

                                <div
                                    class="form-group col-md-3"
                                    :class="{ 'has-error': errors.weightage }"
                                >
                                    <label class="control-label">Weightage*</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        v-model.number="question.weightage"
                                        @keyup="hitEnter($event)"
                                        required
                                    >
                                </div>

                                <div
                                    class="form-check col-md-2"
                                    :class="{ 'has-error': errors.use_dashboard }"
                                >
                                    <label class="form-check-label" :for='id + "-use_dashboard"'>Use Dashboard</label>
                                    <input
                                        :id='id + "-use_dashboard"'
                                        type="checkbox"
                                        class="form-check-input"
                                        v-model="question.use_dashboard"
                                    >
                                </div>

                                <div
                                    class="form-check col-md-2"
                                    :class="{ 'has-error': errors.use_remarks }"
                                >
                                    <label class="form-check-label" :for='id + "-use_remarks"'>Use Remarks</label>
                                    <input
                                        :id='id + "-use_remarks"'
                                        type="checkbox"
                                        class="form-check-input"
                                        v-model="question.use_remarks"
                                    >
                                </div>

                            </div>


                            <div class="row">
                                <div
                                    class="form-group col-md-3"
                                    :class="{ 'has-error': errors.tlabel }"
                                >
                                    <label class="control-label">Text Label</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        v-model="question.tlabel"
                                        @keyup="hitEnter($event)"
                                        required
                                    >
                                </div>

                                <div
                                    class="form-check col-md-2"
                                    :class="{ 'has-error': errors.ttype }"
                                >
                                    <label class="form-check-label" :for='id + "-ttype"'>Use Text Input</label>
                                    <input
                                        :id='id + "-ttype"'
                                        type="checkbox"
                                        class="form-check-input"
                                        v-model="question.ttype"
                                    >
                                </div>

                            </div>


                            <div class="row">

                                <div class="col-md-11"><h4 class="title-div"><span>Answers</span></h4></div>

                                <div class="col-md-1">
                                    <button
                                        type='button'
                                        style="margin-top:11px;"
                                        class="btn btn-primary pull-right"
                                        :class="{disabled:!vpub}"
                                        @click="!vpub||addAnswer()"
                                    >
                                        <i class="fa fa-plus"></i></button>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-12" v-for="( a, index ) in getQuestionAnswers()">

                                    <div class="row">

                                        <div
                                            class="form-group col-md-5"
                                            :class="{ 'has-error': (errors.answerLabels || []) [index] }"
                                        >
                                            <label class="control-label">Label</label>
                                            <input
                                                type="text"
                                                class="form-control"
                                                v-model="a.label"
                                                @keyup="hitEnter($event)"
                                                required
                                            >
                                        </div>

                                        <div
                                            class="form-group col-md-5"
                                            _class="{true:'has-error'}[nameDialog.answers.$dirty && nameDialog.answers.$invalid]"
                                            :class="{ 'has-error': (errors.answerValues || []) [index] }"
                                        >
                                            <label class="control-label">Value</label>
                                            <select class="form-control" v-model="a.value" @keyup="hitEnter($event)" required>
                                                <option value="1"  class="tgreen"   >Green  </option>
                                                <option value="0"  class="tred"     >Red    </option>
                                                <option value="x"  class="torange"  >Orange </option>
                                                <option value="NA" class="tgrey"    >Grey   </option>
                                            </select>
                                        </div>

                                        <div class="col-md-2">
                                            <button
                                                type='button'
                                                class="btn btn-danger pull-right"
                                                style="margin-top:26px;"
                                                :class="{disabled:!vpub}"
                                                @click="!vpub||delAnswer( index )"
                                            >
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </div>

                                    </div>  <!-- row -->
                                </div>      <!-- col -->
                            </div> <!-- row -->
                        </div> <!-- col -->


                        <div class="col-md-12">

                            <button
                                type="button"
                                class="btn btn-primary btn-long"
                                @click="save()"
                                 _disabled='!nameDialog.$valid'
                            >Save</button>

                            <button
                                type="button"
                                class="btn btn-default btn-long"
                                @click="cancel()"
                            >Cancel</button>

                        </div>

                    </form>

                </div> <!-- row -->

            </div> <!-- modal-body -->

        </div>  <!-- modal-content -->
    </div>      <!-- modal-dialog -->
</div>          <!-- modal -->
